<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400&family=Staatliches&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/css/main.css">
    <!---->

    <title>Weather Station</title>
</head>
<body>
    <div class="container">
        <h1 id="logo" class="text-md-left text-center">
            T'weerke
        </h1>
        <div class="row" id="current-weather">
            <div class="col-12 col-md-4">
                <div class="card current-weather-card">
                    <h2>API current</h2>
                    <span>
                        <img src="../static/images/sun.png" alt="sun">
                        <div class="thin-line"></div>
                        <h4 class="weather-current">{{ current }}</h4>
                    </span>
                    <p>* Weather from OpenWeatherMap API</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card current-weather-card">
                    <h2>Outdoor</h2>
                    <span>
                        <img src="../static/images/celsius.svg" alt="celsius">
                        <div class="thin-line"></div>
                        <h4>25°C</h4>
                    </span>
                    <p>* Realtime from micro:bit</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card current-weather-card">
                    <h2>Indoor</h2>
                    <span>
                        <img src="../static/images/celsius.svg" alt="celsius">
                        <div class="thin-line"></div>
                        <h4>25°C</h4>
                    </span>
                    <p>* Realtime from micro:bit</p>
                </div>
            </div>
        </div>
        <div id="forecast">
            <h4>FORECAST</h4>
            <div class="row">
                <div class="col-12 weather-days">
                    {% for weather in forecast %}
                        <div class="weather-day">
                            <h5 class="weather-date">12/10</h5>
                            <div class="weather-img">
                                <img src="../static/images/sun.png" alt="sun">
                            </div>
                            <div class="tempe">
                                <h5 class="weather-max">{{ weather['temp']['max'] }}</h5>
                                <h5 class="weather-min">{{ weather['temp']['min'] }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>